.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    flex-direction: column;
    color: white;
    background: black;
    height: 200px;
}

.footer img {
    margin: 35px;
    height: 40px;
}